{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<!-- <div class="container" style="padding-bottom:75px; background-size: cover; text-align: center; background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://c.pxhere.com/photos/63/d6/cellphone_desk_iphone_laptop_macbook_notebook_notepad_pencil-972233.jpg!d');">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">Welcome to Next Generation Scholars</h1>
     {% if not current_user.is_authenticated %}
    <button onclick= "window.location.href='/account/register';" class="ui red button">Register</button>
    <button onclick= "window.location.href='/account/login';"class="ui green button">Login</button>
    {% endif %}
</div> -->

<!-- <iframe style="width:100%; height:100%; padding-bottom:45px; margin-bottom:0px;" src="https://www.ngsapp.com/" frameborder="0"></iframe>     -->

<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile column">
        <h1 class="ui dividing header">Welcome!</h1>
        <div>Admitt-ed is a platform for counselors and students to track their progress through the college 
            application process. Students can research and compare colleges they're interested in, update their
            essay progress, and keep track of their scholarship information. Counselors can send out notifications
            and assign tasks to their students, among other things. We wish you luck! 
        </div>
    </div>
    
    <div class="twelve wide computer sixteen wide mobile column">
        <h1 class="ui dividing header">Messages</h1> <br /> 
        <div class="ui two column centered grid">
            <div class="ui card">
                <div class="image">
                    <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/1320747/AR-310039872_oxkllq.png">
                </div>
                <div class="content">
                    <div class="header">FAFSA</div>
                    <div class="description">Due on 3/2 -- Update your progress in your profile and tasks!</div>
                </div>
            </div> <br />

            <div class="ui card">
                <div class="image">
                    <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/1320747/10k-logo_jqjaoq.png">
                </div>
                <div class="content">
                    <div class="header">10,000 DEGREES</div>
                    <div class="description">Due on 3/2 -- Update your progress in your profile and tasks!</div>
                </div>
            </div> <br />

            <div class="ui card">
                <div class="image">
                    <img src=https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/1320747/CA_Dream_Act_logo_lgh0xl.jpg">
                </div>
                <div class="content">
                    <div class="header">CA DREAM ACT</div>
                    <div class="description">Due on 3/2 -- Update your progress in your profile and tasks!</div>
                </div>
            </div>
        </div>
    </div>

    <div class="twelve wide computer sixteen wide mobile column">
        <div class="row">
            <h1 class="ui dividing header">Calendar</h1>
            <iframe src="https://calendar.google.com/calendar/embed?src=ngs4impact%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

   <div class="twelve wide computer sixteen wide mobile column">
        <div class="row">
            <h1 class="ui dividing header">Resources</h1>
            <div>Writing a Personal Essay</div>
            <div>Completing the FAFSA</div>
            <div>Interviews</div>
            <div>Choosing the Right Schools</div>
            <!-- {{ page.render_inline_editor(editable_html_obj, current_user) }} -->
        </div>
    </div>

    <div class="twelve wide computer sixteen wide mobile column">
        <div class="row">
            <h1 class="ui dividing header">Survey</h1>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdUGSDIw98c_E45nkGF_dYQ4gtp7vKwv1LpQxA7YcESA0j-eg/viewform?embedded=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
        
            <!-- {{ page.render_inline_editor(editable_html_obj, current_user) }} -->
        </div>
    </div>
</div>



{% endblock %}
